<a href="https://colab.research.google.com/github/PatelKrunali/Krunali_AIMLBootcamp_Genzeon_2023/blob/main/Day1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("Hello")

Hello

In [3]:
a=10
b=2+3j
print(a)
print(b.real)
print(b.imag)
c=complex(10,20)
print(c)

10
2.0
3.0
(10+20j)

In [4]:
GCorevalues=["HumanConnections","Empowerment","accountability"]
print(GCorevalues)

['HumanConnections', 'Empowerment', 'accountability']

In [5]:
Employees={"name":"Krunali","ID":"001"}
print(Employees)

{'name': 'Krunali', 'ID': '001'}

In [9]:
set1={"Good","Evening","Good"}
print(set1)
type(set1)

{'Evening', 'Good'}

set

In [7]:
x="hello"
print(bool(x))
y=0
print(bool(y))

True
False

In [8]:
print(bool(False))
print(bool(None))
print(bool(0))
print(bool(""))
print(bool(()))
print(bool([]))
print(bool({}))

False
False
False
False
False
False
False

In [10]:

#explicit
a=3
b=4.0
c=float(a)
d=int(b)
print(c,d)

3.0 4

In [11]:
#implicit
e=a+b
print(e)

7.0

In [12]:
a=10
b=20
print(a+b)
print(a-b)
print(a*b)
print(a/b) # will give float answer 
print(a%b)
print(a//b) # will give int answer
print(a**b) #power

30
-10
200
0.5
10
0
100000000000000000000

In [13]:
# comparison operator 
a=10
b=20
print(a==b)
print(a!=b)
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)

False
True
False
True
False
True

In [ ]:
#assignment operator
c=a+b
c+=a
c-+a
c*=a
c/=a
c%=a
c**=a

In [14]:
x=True
y=False
print("x and y is", x and y)
print("x or y is", x or y)
print("x not is", not x)

x and y is False
x or y is True
x not is False

In [16]:
a=11
b=12
print(a&b)
print(a|b)
print(a^b)
print(~a)#Not
print(a>>2)
print(a<<2)

8
15
7
-12
2
44

In [17]:
x="hello world"
y={1:'a',2:'b'}
print(y)

{1: 'a', 2: 'b'}

In [18]:
print('H' in x)

False

In [19]:
print(1 in y)

True

In [20]:
print('a' in y)

False

In [35]:
# Identity operators
x1=5
y1=5
x2="Hello"
y2="Hello"
x3=[1,2,3]
y3=[1,2,3]
print(x1 is not y1)
print(x2 is y2)
print(x3 is y3)

False
True
False

In [22]:
a="hi"
b="world"
print(a+b)
print(a*2)

hiworld
hihi

In [23]:
my_str="We are learning python at Genzeon"
print(my_str.upper())
print(my_str.lower())
print(my_str.title())
print(my_str.swapcase())
print(my_str.capitalize())
print(my_str.lstrip())
print(my_str.rstrip())
print(my_str.strip())

WE ARE LEARNING PYTHON AT GENZEON
we are learning python at genzeon
We Are Learning Python At Genzeon
wE ARE LEARNING PYTHON AT gENZEON
We are learning python at genzeon
We are learning python at Genzeon
We are learning python at Genzeon
We are learning python at Genzeon

In [24]:
list=[1,2,3,4]
my_list=[1,"hello",3,4]
nest_list=[5,6,my_list,list]
print(list)
print(my_list)
print(nest_list)

[1, 2, 3, 4]
[1, 'hello', 3, 4]
[5, 6, [1, 'hello', 3, 4], [1, 2, 3, 4]]

In [25]:
print(nest_list[2][1][1:4])

ell

In [32]:
flowers=["rose","lily","marigold","orchids"]
print(flowers)
flowers.append("mogra")
print(flowers)
flowers.insert(2,"lotus")
print(flowers)
flowers.remove("lily")
print(flowers)
flowers.reverse()
print(flowers)

['rose', 'lily', 'marigold', 'orchids']
['rose', 'lily', 'marigold', 'orchids', 'mogra']
['rose', 'lily', 'lotus', 'marigold', 'orchids', 'mogra']
['rose', 'lotus', 'marigold', 'orchids', 'mogra']
['mogra', 'orchids', 'marigold', 'lotus', 'rose']

In [34]:
num=[10,12,4,56,9,4,7,6,44]
print(min(num))
print(max(num))
print(sorted(num))
print(sum(num))
print(sum(num[:4]))

4
56
[4, 4, 6, 7, 9, 10, 12, 44, 56]
152
82